<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>
    <style>
        body {
            font-family: system-ui;
            background-color: black;
            font-size: 2rem;
            color: white;
            text-align: center;
            width: 50%;
            height: 100vh;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

        }

        button {
            position: fixed;
            bottom: 5rem;
            font-size: 1.4rem;
            border: 1px solid white;
            background-color: black;
            color: white;
            padding: 0.5rem 1rem;
            font-family: inherit;
            cursor: pointer;
            transition: 0.1s;
        }

        button:hover {
            background-color: white;
            color: black;
        }
        i{
            opacity: 0.3;
            font-size: 1.5rem;
            margin-top: 2rem;
        }
    </style>
    <%= name %> <i>- Kanye West</i>
        <button onclick=location.reload()>New Quote</button>
</body>

</html>